# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
# dependencies
/node_modules/
/blogapp_frontend/node_modules/
/blogapp_backend/node_modules/




/.pnp
.pnp.js

# testing
/coverage

# production
/build
/blogapp_frontend/build
/blogapp_backend/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/blogapp_frontend/.env
/blogapp_backend/.env



npm-debug.log*
yarn-debug.log*
yarn-error.log*
